# Project
PROJECT_NAME="User Search"
API_V1_STR="/api/v1"

# CORS
# Comma-separated list of origins
CORS_ORIGINS=["http://localhost:5173", "http://localhost:3000"]

# Database & Search
DATABASE_URL=postgresql://postgres:postgres@db:5432/user_search
DB_POOL_SIZE=5
OPENSEARCH_URL=http://opensearch:9200
REDIS_URL=redis://redis:6379/0

# Message Broker (Celery/RabbitMQ)
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//

# Auth
ENABLE_AUTH=True
JWT_SECRET_KEY=super_secret_key_change_me
ACCESS_TOKEN_EXPIRE_MINUTES=10080
AUTH_COOKIE_NAME=access_token

# Spark
SPARK_MASTER_URL=spark://spark-master:7077

# Data & Uploads
EXPORT_DATA_DIR=export_data
UPLOAD_TEMP_DIR_NAME=temp_uploads
UPLOAD_FINAL_DIR_NAME=uploads
